{% extends 'base.html' %}
{% block content %}

<H1>Movie Details</H1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ movies.title }}</span>
        <p>year: {{movies.year}}</p>
        <p>genre: {{ movies.genre }}</p>
        <p>actors: {{ movies.actors }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'movies_update' movies.id %}">Edit</a>
        <a href="{% url 'movies_delete' movies.id %}">Delete</a>
      </div>
</div>
<div class="col s6">
    <table class="striped">
      <thead>
        <tr><th>Thoughts</th><th>Ratings</th></tr>
      </thead>
      <tbody>
        {% for ratings in movies.ratings_set.all %}
          <tr>
            <td>{{ratings.get_rate_display}}</td>
            <td>{{ratings.thoughts}}</td>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}